<div class="wrapper-login">
  <div class="login">
    <div class="left-login">
      <div class="left-login--body">
        <h2 class="description-login">Inicio de sesión</h2>
        <form class="login-form" autocomplete="off" [formGroup]="loginForm">
          <div class="form-group">
            <label for="idusername" class="form-label">Usuario</label>
            <input id="idusername" type="text" appMessageErrors formControlName="username" placeholder="Ingrese nombre de usuario" class="form-input">
          </div>
          <div class="form-group">
            <label for="password" class="form-label">Contraseña</label>
            <input id="password" type="password" appMessageErrors formControlName="password" placeholder="Ingrese contraseña" class="form-input">
          </div>
          <button type="button" class="btn " (click)="sendLoginAuth()">Iniciar sesión</button>
        </form>
      </div>
    </div>
  </div>
</div>
