<div class="wrapper-product-edit">
  <span class="title-product">{{ data ? '¡Edita tu producto!' : '¡Registra tu producto!' }}</span>
  <span class="description-product">
    {{
      data ? '¡Hola! Puedes editar este producto para actualizar su información, cambiar el precio o ajustar las descripciones fácilmente.' : '¡Hola! Agrega un nuevo producto fácilmente llenando la ' +
        'información, subiendo una imagen y estableciendo el precio. ¡Es rápido y sencillo!'
    }}
  </span>
  <div class="form-and-image">
    <form class="grid" autocomplete="off" [formGroup]="productForm">
      <div class="col-12">
        <div class="form-container">
          <div class="form-group">
            <label class="form-label" for="Id">Id producto</label>
            <input id="Id" type="text" formControlName="Id" placeholder="Digite el ID del producto" class="form-input">
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-container">
          <div class="form-group">
            <label class="form-label" for="nombre">Nombre del producto</label>
            <input id="nombre" type="text" appInputMask="alphaNumericAccents" appTrim appMessageErrors
                   formControlName="nombre"
                   placeholder="Digite el nombre del producto" class="form-input">
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-container">
          <div class="form-group">
            <label class="form-label" for="detalles">Descripción del producto</label>
            <input id="detalles" appInputMask="alphaNumericAccents" type="text" appTrim appMessageErrors
                   formControlName="detalle"
                   placeholder="Digite la descripción del producto" class="form-input">
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-container">
          <div class="form-group">
            <label class="form-label" for="valor">Precio del producto</label>
            <input id="valor" type="text" appInputMask="float" appTrim appMessageErrors formControlName="valor"
                   placeholder="Digite el precio del producto" class="form-input">
          </div>
        </div>
      </div>
      <button class="btn btn-g"
              (click)="sendDataRegisterProduct()">{{ this.data ? 'Editar producto' : 'Registrar producto' }}
      </button>
    </form>
  </div>
</div>
